html{
    -webkit-overflow-scrolling: auto !important;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-brand{
    font-size: 2rem;
    font-weight: bold;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: black;

}
.nav-link:hover{
    color: black;
}
.nav-item{
    color: rgb(7,7,78);
}
.btn0{
    height: 45px;
    width: 130px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgb(248,83,83);
   
}
.btn0:hover{
    background-color: rgb(214,11,11);
}
.btn1{
    height: 45px;
    width: 130px;
    background-color: transparent;
    color: rgb(214,20,20);
    outline: none;
    transition:all 0.4s;
    border: 2px solid rgb(214,20,20); 
}
.btn1:hover{
    background-color: rgb(214,11,11);
    transition:all 0.4s;
    color: #fff;
    border: none;
    outline: none;
}
/* ============================================================================ */
.main{
    background: url('image/laura-davidson-QBAH4IldaZY-unsplash.jpg')no-repeat;
    background-size: cover;
    min-height: 90vh;
    width: 100%;   
}
.main h1{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(7,7,78);
}
.main input{
    height: 71px;
    width: 70%;
    border: none;
    outline: none;
    padding: 15px;
}
.btn2{
    height: 71px;
    width: 20%;
    background-color: rgb(248,73,73);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-left: -4px;
}
.btn2:hover{
    background: rgb(214,11,11);
    transition: all 0.4s;
}
/* ============================================================================ */
.red{
    color: red;

}
.more h1{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(7,7,78);

}
.more .card:hover{
    color: red;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 10px 5px 29px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 5px 29px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 5px 29px 1px rgba(0,0,0,0.75);
}
.btn3{
    height: 70px;
    width: 70%;
    border: 3px solid rgb(130,130,231);
    background: transparent;
    border-radius: 5px;
    transition: all 0.4s;
}
.btn3:hover{
    background: rgb(102, 102, 214);
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.4s;
}

/* ============================================================================ */
.resume{
    background:linear-gradient(rgba(4,11,75,0.719),rgba(4,26,100,0.73)), url('image/sebastian-herrmann-NbtIDoFKGO8-unsplash.jpg')no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.resume h1{
    font-size: 2.8rem;
}

/* ============================================================================ */
.job h1{
    font-size: 2.5rem;
    color: rgb(7,7,78);
}
.btn4{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background-color: rgb(248,73,73);
    transition: all 0.4s;
    color: #fff;
}
.btn4:hover{
    background-color: rgb(214,11,11);
    color: #fff;
    transition: all 0.4s;
    border: none;
    outline: none;
}
.apply{
    background: url('image/gradienta-BgrRH1_ZI5Y-unsplash.jpg')no-repeat;
    background-size: cover;
    width: 100%;
}
.apply .card{
    background: transparent;
    color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.circ1 img{
    border-radius: 50%;
}
/* =========================================================================================== */
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.testimonial{
    font-size: 1.3rem;
    font-weight: 300;
}
.btn5{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background: rgba(243,73,73);
    cursor: pointer;
    transition: all 0.4s;
    color: #fff;
    border-radius: 5px;
}
.btn5:hover{
background: rgb(214,11,11);
transition: all 0.4s;
border: none;
outline: none;
}
/* =========================================================================================== */
.footer{
    background: #121616;
    color: #fff;
}
.footer p{
    color: #69696b;
}
.link{
  color: #6b6b72;
  transition: all 0.4s;
  white-space: normal;
}
.link:hover{
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}
.footer input{
    height: 40px;
    width: 70%;
    padding:10px 10px ;
    border: none;
    outline: none;
    border-radius: 4px;

}
.footer button{
    height: 40px;
    width: 25%;
    border: none;
    outline: none;
    margin-left: -10px;
    background: rgb(214,20,20);
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}